NEXT_PUBLIC_SUPABASE_URL=https://zqbqvncwpawlplebqqiq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxYnF2bmN3cGF3bHBsZWJxcWlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNjc4NTMsImV4cCI6MjA5Njk0Mzg1M30.djQW7-Vy_CXbFhYumOTESOchO0dRRfX2N85vxWHuNVU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxYnF2bmN3cGF3bHBsZWJxcWlxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTM2Nzg1MywiZXhwIjoyMDk2OTQzODUzfQ.MipRgDdqmg1XHrzpiymDWBHd99WYpDNdg9sIkLc8Ibs
NEXT_PUBLIC_APP_URL=
